apiVersion: v1
kind: Secret
metadata:
  name: nyx-secrets
  namespace: nyx
type: Opaque
data:
  # Base64 encoded values (Replace these placeholders with real production secrets)
  # Generate via: echo -n 'your-secret' | base64
  POSTGRES_USER: cG9zdGdyZXM= # postgres
  POSTGRES_PASSWORD: cG9zdGdyZXM= # postgres
  POSTGRES_DB: bnl4 # nyx
  DB_URL: cG9zdGdyZXM6Ly9wb3N0Z3Jlczpwb3N0Z3Jlc0Bwb3N0Z3JlczoyNDMyL255eD9zc2xtb2RlPWRpc2FibGU= # postgres://postgres:postgres@postgres:5432/nyx?sslmode=disable
  JWT_SECRET: c2VjcmV0LWtleQ== # secret-key
